<div>
  <div class="video-details-title">"{{video.title}}"</div>

  <video width="320" height="240" controls>
    <source src="{{video.video_url}}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div>
    <div class="video-details-user">
      <img src="{{video.user.avatar_url}}" />
      <div class="video-details-username">
        <a href="http://www.everyplay.com/{{video.user.username}}">{{video.user.username}}</a>
      </div>
    </div>
    <div class="video-details-date-posted">
      {{video.created_at | date:'MM/dd/yyyy @ hh:mm'}}
    </div>
  </div>
</div>